[submodule "Cober/libraries"]
	path = Cober/libraries
	url = https://github.com/gabime/spdlog
[submodule "Cober/libraries/imgui"]
	path = Cober/libraries/imgui
	url = https://github.com/TheCherno/imgui
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm
[submodule "Cober/include/imgui"]
	path = Cober/include/imgui
	url = https://github.com/ocornut/imgui
[submodule "libraries/PhysX"]
	path = libraries/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX
[submodule "libraries/Assimp"]
	path = libraries/Assimp
	url = https://github.com/assimp/assimp
[submodule "Cober/include/Assimp"]
	path = Cober/include/Assimp
	url = https://github.com/AminAliari/assimp
